@CHARSET "GB2312";
#main{
	width: 760px;
	height: 20px;
	border-bottom: thin dashed;
	border-color:  #d7d7d7;
	font-family: Arial, Helvetica, sans-serif, "ו";
	color: red;
	font-weight: bold;
}
#content{
	width: 760px;
	height: 500px;
}
#left_content{
	width: 350px;
	height: 500px;
	float: left;
}
#right_content{
	width: 250px;
	height: 150px;
	float: right;
	border: thin solid;
	border-color: #d7d7d7;
	font-family: Arial, Helvetica, sans-serif, "ו";
	font-size: 12px;
	background-color: #eeeeee;
}
#tab{
	height: 20px;
	border-bottom: thin dashed;
	border-color:  #d7d7d7;
	font-family: Arial, Helvetica, sans-serif, "ו";
	color: red;
	font-weight: bold;

}