<?xml version="1.0" encoding="GB2312"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>book-management-system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthImg</display-name>
    <servlet-name>AuthImg</servlet-name>
    <servlet-class>edu.jxsd.x3510.util.AuthImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthImg</servlet-name>
    <url-pattern>/AuthImg</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>edu.jxsd.x3510.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BookManagement</display-name>
    <servlet-name>BookManagement</servlet-name>
    <servlet-class>edu.jxsd.x3150.dao.BookManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookManagement</servlet-name>
    <url-pattern>/BookManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>edu.jxsd.x3510.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderServlet</display-name>
    <servlet-name>ReaderServlet</servlet-name>
    <servlet-class>edu.jxsd.x3510.servlet.ReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderServlet</servlet-name>
    <url-pattern>/ReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailServlet</display-name>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>edu.jxsd.x3510.servlet.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpiderServlet</display-name>
    <servlet-name>SpiderServlet</servlet-name>
    <servlet-class>edu.jxsd.x3510.servlet.SpiderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpiderServlet</servlet-name>
    <url-pattern>/SpiderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBackServlet</display-name>
    <servlet-name>BorrowBackServlet</servlet-name>
    <servlet-class>edu.jxsd.x3510.servlet.BorrowBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBackServlet</servlet-name>
    <url-pattern>/BorrowBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformServlet</display-name>
    <servlet-name>InformServlet</servlet-name>
    <servlet-class>edu.jxsd.x3510.servlet.InformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformServlet</servlet-name>
    <url-pattern>/InformServlet</url-pattern>
  </servlet-mapping>
</web-app>